.gameCell {
  aspect-ratio: 1/1;
  width: 100%;
  background: rgb(31 106 156 / 50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.flipped {
  animation: flipY-anim 0.5s linear;
}

@keyframes flipY-anim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.cellContent {
  aspect-ratio: 1 / 1;
  height: 70%;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.cellContent.playerX {
  background-color: #01f769;
  mask-image: url(/src/assets/playerX.svg);
}

.cellContent.player0 {
  background-color: #ffe400;
  mask-image: url(/src/assets/player0.svg);
}
