.gameField {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 30%;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0.7rem;
  border-radius: 15px;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 30px 10px rgb(0 210 255 / 60%);
}

.draw {
  animation: draw-anim 0.6s linear forwards;
}

.winnerX {
  animation: winX-anim 0.6s linear forwards;
}

.winner0 {
  animation: win0-anim 0.6s linear forwards;
}

@keyframes draw-anim {
  100% {
    box-shadow: 0px 0px 30px 10px rgb(255 0 0 / 60%);
  }
}

@keyframes winX-anim {
  100% {
    box-shadow: 0px 0px 30px 10px rgb(1 247 105 / 60%);
  }
}

@keyframes win0-anim {
  100% {
    box-shadow: 0px 0px 30px 10px rgb(255 228 0 / 60%);
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem;
}

.btnReload {
  background: rgb(31 106 156 / 50%);
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.gameCell {
  aspect-ratio: 1/1;
  width: 100%;
  background: rgb(31 106 156 / 50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.flipped {
  animation: flipY-anim 0.5s linear;
}

@keyframes flipY-anim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.cellContent {
  aspect-ratio: 1 / 1;
  height: 70%;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.cellContent.playerX {
  background-color: #01f769;
  mask-image: url(/src/assets/playerX.svg);
}

.cellContent.player0 {
  background-color: #ffe400;
  mask-image: url(/src/assets/player0.svg);
}
